.modal-header-IT, h4, .close {
    background-color: #5bc0de;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer-IT {
    background-color: #f9f9f9;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

.scrollable-plumer {
    height: auto;
    max-height: 700px;
    overflow-x: hidden;
}

.headertekst {
    text-align: center;
    width: 100%
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.my_elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
